.hero-carousel {
background-color: rgb(2, 31, 51);
height: 78vh;
}
.carousel-indicators{
    z-index:1;
}
.hero-carousel img{
    opacity: .5;
    height: 78vh
}
.carousel-block{
   position: absolute;
   top: 25%;
}
.carousel-block p{
    font-size:27px;
}
.carousel-block button{
    height: 50px;
    width: 160px;
    background-color: transparent;
    border: 4px solid #22aad3;
    font-size: 20px;
}
.carousel-block button i{
    color: #fff;
    font-size: 17px;
}
.carousal-button{
    height: 50px;
    width: 160px;
    margin: auto;
     background-color: #22aad3; 
}
.carousel-block :hover{
    background-color:transparent;
}

.carousel-block h5{
    font-size: 45px;
    color: #fff;
}
.carousel-block i{
    color: #22aad3;
}

@media (max-width: 1024px) {
    .hero-carousel{
        height: 60vh;
        }
        .hero-carousel img{
            height: 60vh
        }
        .carousel-block{
            top: 13%;
         }
        .carousel-block h5{
            font-size: 35px;
        }
}